<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <script src="/javascripts/jquery.js"></script>

    </head>
<body>
{{{body}}}
</body>
</html>
